body{width: 100%;
    height: 100vh;
    background-color: #DBADA7;
    display: flex;
    justify-content: center;
    align-items: center;
}

#app{
    width: 350px;
    margin: 60px auto;
    background-color: #8F5850;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 300px;
    margin: 20px;
    background-color: #A6DBC1;
}

.title{
    color: #5E8F77;
}

.btn-color{
    background-color: #5E8F77;
    color: #FFFFFF;
}